.profile_img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0, inset #333 0 0 0 2px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 4px;
  margin: 10px;
}

.profile_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile_name {
  color: white;
  font-family: 'Antic Slab', serif;
  font-size: 32px;
  font-weight: 200;
  margin: 5px;
  padding: 5px;
  background-color: rgba(51, 51, 51, 0.842);
  border-radius: 15px;
  box-shadow: 2px 5px 10px rgb(31, 30, 30);
}

.profile_desc {
  color: white;
  font-family: 'Antic Slab', serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 70vw;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background-color: rgba(51, 51, 51, 0.842);
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgb(31, 30, 30);
  white-space: pre-line;
}

@media (max-width: 540px) {
  .profile_img-container {
    height: 150px;
    width: 150px;
    margin: 10px;
  }

  .profile_image {
    height: 140px;
    width: 140px;
  }

  .profile_name {
    font-size: 28px;
    margin: 10px;
    padding: 5px;
  }

  .profile_desc {
    font-size: 16px;
    width: fit-content;
    margin: 10px;
    padding: 10px;
  }
}

@media (max-width: 430px) {
  .profile_img-container {
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  .profile_image {
    height: 90px;
    width: 90px;
  }

  .profile_name {
    font-size: 16px;
    margin: 2px;
    padding: 5px;
  }

  .profile_desc {
    font-size: 12px;
    width: fit-content;
    padding: 5px;
  }
}
